@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.MeasureTerms.DetailsModel
@{
    Layout = "_Details";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.MasterId)
    @Html.DisplayControlsFor(model => model.Item.TermId)
    @Html.DisplayControlsFor(model => model.Item.Power)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
@section Details {
}
