@page
@using Abc.Aids
@using Abc.Data.Quantity
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitFactors.DetailsModel
@{
    Layout = "_Details";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.SystemOfUnitsId)
    @Html.DisplayControlsFor(model => model.Item.UnitId)
    @Html.DisplayControlsFor(model => model.Item.Factor)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
@section Details {
}
