@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.Measures.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(model => model.Item.Code)
    @Html.DisplayControlsFor(model => model.Item.Name)
    @Html.DisplayControlsFor(model => model.Item.Definition)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
