@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.Measures.EditModel

@{
    Layout = "_Edit";
}
<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.EditControlsFor(model => model.Item.Code)
    @Html.EditControlsFor(model => model.Item.Name)
    @Html.EditControlsFor(model => model.Item.Definition)
    @Html.EditControlsFor(model => model.Item.ValidFrom)
    @Html.EditControlsFor(model => model.Item.ValidTo)
</body>
