@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.SystemsOfUnits.DeleteModel


@{
    Layout = "_Delete";
}
<body>
    @Html.DisplayControlsFor(m => m.Item.Code)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Definition)
    @Html.DisplayControlsFor(m => m.Item.ValidFrom)
    @Html.DisplayControlsFor(m => m.Item.ValidTo)
</body>