@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.SystemsOfUnits.EditModel


@{
    Layout = "_Edit";   
}
<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Code)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Definition)
    @Html.EditControlsFor(m => m.Item.ValidFrom)
    @Html.EditControlsFor(m => m.Item.ValidTo)
</body>
