@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitTerms.EditModel


@{
    Layout = "_Edit";   
}
    <body>
        <input type="hidden" asp-for="Item.MasterId" />
        <input type="hidden" asp-for="Item.TermId" />
        @Html.DisabledControlsFor(m => m.Item.MasterId)
        @Html.DisabledControlsFor(m => m.Item.TermId)
        @Html.EditControlsFor(m => m.Item.Power)
        @Html.EditControlsFor(m => m.Item.ValidFrom)
        @Html.EditControlsFor(m => m.Item.ValidTo)
    </body>
